.header__info {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  background-color: var(--color-light);
  margin-bottom: 36px;
  flex-direction: column;
  @include desktop {
    margin-bottom: 25px;
  }
  @include mobile-xs {
    margin-bottom: 30px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    @include tablet {
      width: unset;
    }
  }
}

.header__title {
  padding-right: 20px;
  font-size: 32px;
  color: var(--color-text);
  line-height: 1;
  padding-block: 45px;
  font-family: var(--font-family-bold);
  font-weight: 100;
  @include desktop {
    font-size: 28px;
    padding-block: 40px;
  }
  @include tablet {
    padding-block: 30px;
  }
  @include mobile {
    font-size: 26px;
  }
  @include mobile-s {
    padding-block: 25px;
    padding-right: 10px;
    font-size: 22px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--padding-cont);
  @include mobile-xs {
    flex-direction: column;
    justify-content: start;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 20px;
    position: relative;
  }
}
.stat {
  cursor: pointer;
  display: flex;
  padding-block: 20px;
  padding-inline: var(--padding-cont);
  border-top: 1px solid var(--color-gray);
  font-size: 18px;
  gap: 10px;
}
.redact {
  padding-bottom: 0;
}
