@font-face {
  font-family: "font__bold";
  src:
    url("./files/AnyConv.com__Gilroy-ExtraBold.woff2") format("woff2"),
    url("./files/AnyConv.com__Gilroy-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "fontLight";
  src:
    url("./files/AnyConv.com__Gilroy-Light.woff2") format("woff2"),
    url("./files/AnyConv.com__Gilroy-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
