.header__info {
  padding-inline: var(--padding-cont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  background-color: var(--color-light);
  margin-bottom: 36px;
  @include desktop {
    margin-bottom: 25px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.header__title {
  padding-right: 20px;
  font-size: 32px;
  color: var(--color-text);
  line-height: 1;
  padding-block: 45px;
  font-family: var(--font-family-bold);
  font-weight: 100;
  @include desktop {
    font-size: 28px;
    padding-block: 40px;
  }
}
