.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    color: var(--color-light);
  }
  &__info {
    padding-top: 10px;
    font-size: var(--font-size-xl);
    color: var(--color-light-any);
    font-weight: 300;
  }

  label {
    color: rgba(238, 238, 238, 0.5);
    line-height: 1;
    span {
      font-size: 16px;
      font-family: var(--font-family-bold);
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}
.field {
  display: flex;
  padding-block: 20px;
}
.menu__checkbox[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-blue);
  cursor: pointer;
}
.menu__checkbox[type="checkbox"]:checked {
  background-color: var(--color-blue-light);
  border: 0;
  position: relative;
  &::after {
    content: url(../../../shared/assets/icons/gl.svg);
    position: absolute;
    transform: scale(1);
    width: 11px;
    z-index: 11;
    left: 2px;
    top: -1px;
  }
}

.menu__icon-pass {
  top: 37% !important;
  left: 5px;
}
.menu__checkbox[type="checkbox"].check__error {
  border: 1px solid red;
}
.menu__checkbox[type="checkbox"].check__error {
  &:checked {
    border: 0;
  }
}
