@import "./reset/reset.scss";
@import "./mixins/mixins";
@import "./variables/global.scss";

body {
  font-family: var(--font-family-main);
  color: var(--color-text);
  font-size: var(--font-size-m);
  height: 100vh;
  background-color: var(--color-dark);
}

.container {
  padding-inline: 40px;
  margin-inline: auto;
}
