@import "./reset/reset.scss";
@import "./mixins/mixins";
@import "./variables/global.scss";

body {
  font-family: var(--font-family-main);
  color: var(--color-text);
  font-size: var(--font-size-m);
  height: 100vh;
  background-color: var(--color-dark);
}

.container {
  max-width: 1450px;
  padding-inline: 15px;
  margin-inline: auto;
}

h1,
h2,
h3 {
  font-family: var(--font-family-bold);
}
img,
svg {
  user-select: none; /* запрет выделения */
  -webkit-user-drag: none; /* запрет drag-n-drop в браузерах на WebKit */
}
