.sider {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  height: 100vh;
  background-color: var(--color-text);
  @include tablet {
    max-width: 320px;
  }
  @include mobile-s {
    max-width: 250px;
  }
  @include mobile-xs {
    width: 100%;
    max-width: unset;
  }
  &__nav-icon {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__user {
    display: flex;
    color: var(--color-light);
    padding-left: 36px;
    align-items: center;
    padding-block: 40px;
    gap: 26px;
    @include desktop {
      gap: 15px;
    }
    @include mobile-s {
      padding-left: 20px;
      padding-block: 30px;
    }
    @include mobile-xs {
      padding-block: 22px;
    }
    &-info {
      display: flex;
      flex-direction: column;
    }
    &-rating {
      display: flex;
      gap: 6px;
      @include mobile {
        gap: 4px;
      }
    }
    &-mail {
      padding-top: 5px;
    }
    &-exit {
      display: flex;
      gap: 5px;
      color: var(--color-blue-accent);
      align-items: center;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    color: var(--color-blue-accent);
    width: 100%;
    align-items: center;
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
    &-list {
      width: 100%;
    }
    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      padding-block: 20px;
      border-bottom: 1px solid #2e3645;
      padding-left: 36px;
      gap: 18px;
      @include hover {
        background-color: var(--color-blue-light);
        opacity: 0.5;
        color: var(--color-light);
        cursor: pointer;
      }
      @include mobile-s {
        gap: 13px;
        padding-block: 15px;
        padding-left: 20px;
      }
      @include mobile-xs {
        justify-content: space-between;
        padding-right: 20px;
      }
    }
  }
}
.sider__nav-item.item--active {
  background-color: var(--color-blue-light);
  color: var(--color-light);
  @include hover {
    background-color: var(--color-blue-light);
    color: var(--color-light);
    opacity: 1;
    cursor: unset;
  }
}
.sider__profile-image {
  @include tablet {
    max-width: 60px;
  }
  @include mobile-xs {
    max-width: 50px;
  }
}
.sider__star {
  @include mobile {
    max-width: 14px;
  }
}
.mobile__button-stat {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #3d4657;
  width: 100%;
  gap: 10px;
  color: var(--color-blue-accent);
  @include hover {
    color: var(--color-light);
  }
}
.mobile__wrapper-buttons {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 1px;
}
