.sider {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  height: 100vh;
  background-color: var(--color-text);
  @include tablet {
    max-width: 320px;
  }

  &__application {
    background-color: var(--color-blue-light);
    width: 100%;
    display: flex;
    padding: 35px;
    gap: 20px;
    color: var(--color-light);
    line-height: 1;
    max-height: 100px;
    @include mobile {
      max-height: 80px;
      padding: 25px;
    }
    &-text {
      font-size: 12px;
      font-family: var(--font-family-main);
    }
  }
  &__user {
    display: flex;
    color: var(--color-light);
    padding-left: 36px;
    align-items: center;
    padding-block: 40px;
    gap: 26px;
    @include desktop {
      gap: 15px;
    }
    &-info {
      display: flex;
      flex-direction: column;
    }
    &-rating {
      display: flex;
      gap: 6px;
    }
    &-mail {
      padding-top: 5px;
    }
    &-exit {
      display: flex;
      gap: 5px;
      color: var(--color-blue-accent);
      align-items: center;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    color: var(--color-blue-accent);
    width: 100%;
    align-items: center;
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
    &-list {
      width: 100%;
    }
    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      padding-block: 20px;
      border-bottom: 1px solid #2e3645;
      padding-left: 36px;
      gap: 18px;
      @include hover {
        background-color: var(--color-blue-light);
        opacity: 0.5;
        color: var(--color-light);
        cursor: pointer;
      }
    }
  }
}
.sider__nav-item.item--active {
  background-color: var(--color-blue-light);
  color: var(--color-light);
  @include hover {
    background-color: var(--color-blue-light);
    color: var(--color-light);
    opacity: 1;
    cursor: unset;
  }
}
