.stat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: wrap;

  &__calendar {
    position: relative;
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 10px;
    @include desktop {
      gap: 6px;
    }
  }

  &__list {
    display: flex;
    padding-left: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    border-left: 1px solid rgb(233, 233, 233);
    gap: 18px;
    padding-inline: 20px;
    justify-content: space-between;
    @include desktop {
      padding-inline: 10px;
      gap: 7px;
    }
  }

  &__info {
    font-size: 14px;
    max-width: 100px;
    font-weight: 100;
    line-height: 1.1;
  }
  &__title {
    font-size: 22px;
    font-weight: 100;
    @include desktop {
      font-size: 18px;
    }
  }
}
.active {
  font-family: var(--font-family-main);
  font-size: var(--font-size-xxl);
  color: var(--color-blue-light);
  font-weight: 100;
  line-height: 1;
}

.stat__picker {
  color: rgba(59, 67, 83, 0.5);
  font-weight: 600;
  max-width: 145px;
}
.stat__picker-error {
  position: absolute;
  bottom: 2px;
  transform: translate(0%, 50%);
  width: 100%;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 16px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  padding-inline: 10px;
}
:where(.css-dev-only-do-not-override-18afz5u).ant-picker .ant-picker-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  left: -5px;
}
