.stat {
  width: 100%;
  display: flex;
  justify-content: end;
  white-space: wrap;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    border-left: 1px solid rgb(233, 233, 233);
    gap: 18px;
    padding-inline: 20px;
    justify-content: space-between;
    @include desktop {
      padding-inline: 10px;
      gap: 7px;
    }
    @include tablet {
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: unset;
      gap: 3px;
    }
    @include mobile {
      padding-inline: 3px;
    }
    @include mobile-xs {
      justify-content: center;
      align-items: start;
      padding-inline: 0;
      margin-right: 20px;
      border-left: unset;
      border-bottom: 1px solid var(--color-gray);
      gap: 8px;
      padding-block: 14px;
    }
  }

  &__info {
    font-size: 14px;
    max-width: 100px;
    font-weight: 100;
    line-height: 1.1;
    @include tablet {
      max-width: unset;
    }
    @include mobile {
      font-size: 12px;
    }
    @include mobile-s {
      font-size: 10px;
    }
    @include mobile-xs {
      font-size: 14px;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 100;
    @include desktop {
      font-size: 18px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
}
.desktop {
  @include tablet {
    display: none;
  }
}
.touch {
  display: none;
  @include tablet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    white-space: wrap;
    text-align: center;
  }
  @include mobile-xs {
    flex-direction: column;
    position: relative;
    top: 50px;
    justify-content: start;
    padding-inline: 20px;
    background-color: var(--color-light);
    padding-bottom: 0;
  }
}
.stat__title.active {
  font-size: 28px;
  color: var(--color-blue-light);
  @include tablet {
    font-size: 22px;
  }
  @include mobile-xs {
    line-height: 1;
  }
}
