.header {
  background-color: var(--color-text);
  white-space: nowrap;
  max-height: 100px;
  width: 100%;
  @include mobile-xs {
    background-color: transparent;
    width: 75%;
  }
  &__input {
    padding: 14px 40px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-s {
      padding: 12px 15px;
    }
    @include mobile-xs {
      width: clamp(4.063rem, 1.262rem + 14vw, 6.25rem);
      height: 30px;
      border-radius: 5px 5px 5px 5px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: var(--padding-cont);
    border-right: 1px solid rgb(76, 84, 99);
    @include mobile-xs {
      margin-inline: 0;
      justify-content: end;
      border: 0;
    }

    &-manager {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 40px;
      @include desktop {
        padding-right: 20px;
      }
      &__u {
        color: var(--color-blue-accent);
        font-size: 12px;
      }
      &__name {
        color: var(--color-light);
        font-size: 18px;
      }
      &__status {
        color: var(--color-green);
        display: flex;
      }
      &__image {
        padding-right: 14px;
      }
    }

    &-info {
      display: flex;
      flex: 1;
      justify-content: space-between;
      padding-inline: 60px;
      align-items: center;
      padding-block: 22px;
      border-inline: 1px solid rgb(76, 84, 99);
      height: 100px;
      @include desktop {
        padding-inline: 20px;
      }
      @include mobile {
        height: 80px;
      }
      @include mobile-xs {
        border: none;
        justify-content: end;
        padding: 0;
        flex: unset;
      }

      &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 45px;
        margin-right: 5vw;
        max-width: 640px;
        width: 100%;

        @include desktop {
          margin-right: 20px;
        }
        @include tablet {
          margin-right: 0;
        }
        @include mobile-xs {
          justify-content: end;
        }
      }
      &__salary {
        display: flex;
        flex-direction: column;
        justify-content: end;
        @include tablet {
          display: none;
        }

        &-time {
          color: var(--color-light);
          white-space: nowrap;
        }
        &-quantity {
          display: flex;
          justify-content: end;
          color: var(--color-blue-light);
          font-size: var(--font-size-xxl);
          font-family: var(--font-family-main);
          font-weight: 100;
          line-height: 1;
        }
      }
    }
  }

  &__top-reg {
    font-size: 16px;
    color: var(--color-light);
    font-family: var(--font-family-bold);
    display: flex;
    align-items: center;
    padding-inline: 40px;
    @include desktop {
      padding-inline: 30px;
    }
    @include mobile {
      font-size: 14px;
      padding-inline: 20px;
    }
    @include mobile-xs {
      display: none;
    }
  }
}
.header__search-button {
  background-color: var(--color-blue-light);
  padding: 15px 26px;
  border-radius: 0 5px 5px 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile-s {
    padding: 11px 20px;
  }
}
