.reg {
  height: 100vh;
  background-color: var(--color-blue);
  background-image: url(../../../shared/assets/images/regBack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: var(--color-blue-light);
    font-size: 28px;
    @include mobile-xs {
      font-size: 22px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 15%;
  }
  &__avatar {
    display: flex;
    align-items: center;
    h3 {
      line-height: 1;
    }
    span {
      font-family: var(--font-family-main);
    }
  }
  &__image {
    @include mobile-xs {
      max-width: 70px;
    }
  }
}
.reg__error {
  font-size: 20px;
  color: var(--color-blue);
  text-align: center;

  h1 {
    color: var(--color-blue-accent);
    @include mobile-xs {
      line-height: 1.2;
      padding-bottom: 20px;
    }
  }
  button {
    color: var(--color-blue-light);
    border-bottom: 1px solid var(--color-blue-light);
  }
}
