.edit {
  background-color: var(--color-light);
  max-width: 600px;
  margin-inline: 60px;
  padding: 35px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: var(--color-text);
  @include desktop {
    padding: 25px 45px 30px 45px;
    max-width: 550px;
  }

  &__avatar {
    max-width: 80px;
    padding-bottom: 15px;
  }
  &__load {
    color: var(--color-text);
    border-bottom: 1px dotted var(--color-text);
    margin-bottom: 36px;
    @include desktop {
      margin-bottom: 20px;
    }
  }
  &__icon {
    top: 15px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__error {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-message {
      color: red;
      padding: 6px 10px;
      line-height: 1;
      border: 1px solid rgb(233, 233, 233);
      border-radius: 5px;
    }
  }

  &__source {
    cursor: pointer;
  }
  &__button {
    max-width: 240px;
    width: 100%;
    margin-inline: auto;
    padding: 18px 36px;
    line-height: 1;
    -webkit-box-shadow: 0px 12px 10px -3px rgba(25, 157, 232, 0.35);
    -moz-box-shadow: 0px 12px 10px -3px rgba(25, 157, 232, 0.35);
    box-shadow: 0px 12px 10px -3px rgba(25, 157, 232, 0.35);
  }
  &__source-list {
    position: absolute;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    gap: 3px;
    background: #f8f8f8;
    z-index: 100;
  }
  &__source-item {
    padding: 10px 40px;
    button {
      width: 100%;
      display: flex;
      color: var(--color-text);
    }
  }
}
.wrapper {
  &__gap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 14px;
    padding: 8px 0 32px 0;
    @include desktop {
      gap: 11px 14px;
      padding: 8px 0 11px 0;
    }
  }
}
.ref {
  text-align: center;
  padding-block: 35px;
  @include desktop {
    padding: 14px 0 20px 0;
  }
  &__title {
    font-size: var(--font-size-l);
    opacity: 0.5;
    font-weight: 100;
  }

  &__link {
    font-size: 22px;
    color: var(--color-blue-light);
    line-height: 1;
    border-bottom: 1px solid var(--color-blue-light);
  }
}
.icon__tel,
.icon__source,
.icon__tg {
  top: 12px;
}
.icon__tel {
  left: 10px;
}
.icon__source {
  left: -1px;
}
.form__source-list .form__source-item:first-of-type {
  border-bottom: 1px solid rgb(233, 233, 233);
}
.form__list-handler {
  position: absolute;
  right: 0;
  top: 10%;
  transform: translate(-10px, 40%);
  padding: 10px;
}
.form__traffic {
  position: relative;
}
