.input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon {
  position: absolute;
  top: 43%;
  transform: translate(77%, 25%);
}
.input__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  &:focus-visible,
  &:focus {
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.7);
  }
}
.input__form {
  position: relative;
  background-color: transparent;
  display: inline-flex;

  &:focus-visible,
  &:focus {
    border: unset;
    outline: none;
  }
}

.input.primary {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  background-color: var(--color-blue);
  appearance: none;
  width: 330px;
  padding: 20px 20px 20px 40px;
  &:focus-visible,
  &:focus {
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.7);
  }
}

.input.secondary {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  background: #f8f8f8;
  padding: 16px 40px;
  width: 100%;
  line-height: 1;
}

.input.tertiary {
  border: 2px solid #ffc107;
  background-color: #ffca28;
}

.input__password {
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 56%;
  right: 30px;
  transform: translate(50%, -50%);
  padding: 5px;
}
.icon {
  pointer-events: none;
}
.input__error {
  margin-top: 5px;
  border: 1px solid var(--color-light);
  max-width: 330px;
  border-radius: 4px;
  width: 100%;
  color: red;
  font-size: 16px;
  &:focus,
  &:active {
    border: 1px solid var(--color-light);
  }
}
