.all {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @include mobile-xs {
    white-space: nowrap;
  }

  &__header {
    min-width: var(--all-traiders-size);
  }
  &__list {
    display: grid;
    padding-inline: var(--padding-cont);
    border-bottom: 1px solid var(--color-gray);
    justify-content: space-between;
    padding-block: 20px;
    font-weight: 700;
    grid-auto-flow: column;
    grid-template-columns: var(--colum-size);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 120;
    text-align: center;
    @include mobile-s {
      padding: 15px 20px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    &-date {
      justify-content: start;
    }
    &-profit {
      justify-content: end;
    }
  }
  &__footer {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    -webkit-box-shadow: 0px -5px 18px -8px var(--color-blue-accent);
    -moz-box-shadow: 0px -5px 18px -8px var(--color-blue-accent);
    box-shadow: -10px 6px 18px 0px var(--color-blue-accent);

    min-width: var(--all-traiders-size);
  }
}
