.manager {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  @include desktop {
    padding-right: 20px;
  }
  &__u {
    color: var(--color-blue-accent);
    font-size: 12px;
  }
  &__name {
    color: var(--color-light);
    font-size: 18px;
  }
  &__status {
    color: var(--color-green);
    display: flex;
  }
  &__image {
    padding-right: 14px;
  }
}
.header {
  @include mobile {
    display: none;
  }
}
.mobile {
  display: none;
  @include mobile {
    display: flex;
    width: 100%;
    background-color: var(--color-blue);
    justify-content: start;
    padding-inline: var(--padding-cont);
    padding-block: 5px;
    margin-top: 36px;
    border-block: 3px solid #4c5463;
  }
}
